html,
body {
  height: 100%;
}

/*
COLORS:
red: #B72F12
orange: #DE722F
gray: #65646B
off white: #FAF6F5
*/

body {
  padding: 0;
  margin: 0;
  background-color: #FAF6F5;
  font-family: sans-serif;
  font-size: 15px;
  color: #444;
}

* {
  box-sizing: border-box;
}

#artboard {
  width: 700px;
  height: 700px;
  margin: 20px auto;
  background-color: #fff;
}

footer {
  padding: 20px;
}

.dialog-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 100;
}

.dialog-box {
  display: inline-block;
  position: fixed;
  top: 60px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background-color: #fff;
  padding: 20px;
  z-index: 101;
}

button,
a.button,
input[type=button],
input[type=submit] {
  outline: none !important;
  border: none;
  padding: 8px 12px;
  font-size: 15px;
  font-family: sans-serif;
  color: #fff;
  background-color: #DE722F;
  cursor: pointer;
}

select {
  outline: none !important;
  padding: 8px 12px;
  font-size: 15px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.breathe {
  margin: 20px 0;
}
