html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

#artboard {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  background-color: #fff;
}

footer {
  height: 100px;
}
